@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color: rgb(33, 173, 216);
    --primary-color-darker: rgb(49, 111, 129);
}

body{
    background-color: var(--primary-color-darker);
}

.container{
    background-color: var(--primary-color);
    border-radius: 5px;
    max-width: 500px;
    margin: 75px auto;
    padding: 5px 15px;
}

.container h1{
    font-size: 1.25rem;
}

.clock{
    font-size: 4rem;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 5px;
    
}